body {
	background: white;
	align-items: center;
	justify-content: center;
}

.calculator {
	margin: auto;
	width: 320px;
	/*   height: 450px; */
	border: 1px solid black;
	padding: 15px;
	background: black;
	/*   text-align: center; */
	position: relative;
}

.equation {
	/*   height: 35px; */
	text-align: right;
	font-size: 23px;
	min-height: 30px;
	color: #ffd700;
}

#display {
	height: 35px;
	text-align: right;
	font-size: 28px;
	color: white;
}

button {
	position: relative;
	width: 80px;
	height: 65px;
	background: grey;
	border: none;
	outline: 1px solid black;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

.operator {
	background: #a9a9a9;
}

.large {
	width: 160px;
}

#clear {
	background-color: #be0032;
}

#equal {
	height: 130px;
	position: absolute;
	bottom: 15px;
	background-color: #ffa500;
}
